# Git noises
# .gitignore

# Mac OS noises
.DS_Store

# noises
*.c~
*.m~
*.mexw64
*.mexmaci64
*.asv

# Design-related files
*.oo3

# ignore all files in the following directories
data/output
data/input/old

# For designing experiments
data/input/GPSS_ListforParameterInputs.xlsx
data/input/*.scap

# For analysis (* to be moved into an utility folder)
# AnalyseResult.m
# AnalyseResultGeneralBySDS.m
# AnalyseFinalResult.m
# AnalyseFinalResultGeneral.m
# hypsometry.m
# streamorder.m
# wflowacc.m

