# Git noises
#.gitignore

# Mac OS noises
.DS_Store

# MATLAB noises
*.m~
*.mexw64
*.mexmaci64

# Excel noises
~*.xlsx

# ignore all files in the following directories
data/output
!data/input/*

# exceptions

